.picks-data-container {
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

.pick-data {
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(1.1);
}

.pick-data-icon {
	padding: 5px;
}

.picks-data-overview {
	width: 100%;
	padding: 0px !important;
}

.pick-data-button-group {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.show-less-button-group {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.picks-data-users {
	display: flex;
	justify-content: space-around;
	flex-direction: row
}

.users-column {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 20px;
}

.user-item {
	border: 1px solid !important;
	margin: 5px !important;
}

.show-less-button {
	width: 100%;
}