$primary:       #FFCB05;
$secondary:     white;
$tiertary:      #012a54;
$quaternary:    #012a54;
$base:          #001224;
$accent:        $secondary;
$primary-dark:  #c09a04;
$tiertary-dark: #023e7b;

/*<-------DARK COLORS-------->*/
.primary-color {
  color: #FFCB05 !important;
}

.secondary-color {
  color: white !important;
}

.tiertary-color {
  color: #012a54 !important;
}

.tiertary-light-color {
  color: #001c38 !important;
}

.quaternary-color {
  color: #012a54 !important;
}

.base-color {
  color: #001224 !important;
}

.accent {
  color: white !important;
}

.primary-background {
  background-color: #FFCB05 !important;
}

.secondary-background {
  background-color: white !important;
}

.tiertary-background {
  background-color: #012a54 !important;
}

.tiertary-light-background {
  background-color: #001c38 !important;
}

.quaternary-background {
  background-color: #001c38 !important;
}

.base-background {
  background-color: #001224 !important;
}

.accent-background {
  background-color: white !important;
}

.primary-border {
  border: solid 2px $primary-dark !important;
}

.tiertary-border {
  border: solid 2px $tiertary-dark !important;
}

.primary-fill {
  fill: #FFCB05;
}

.secondary-fill {
  fill: white;
}

.bar {
  background-color: #FFCB05 !important;
}

.ui.progress {
  background-color: #012a54 !important;
}

body {
  background: #001224 !important;
}

/*-----------TEAM COLORS----------*/
.ruby {
  color: #FFCB05 !important;
}

.burgundy {
  color: #FFCB05 !important;
}

.teal {
  color: #FFCB05 !important;
}

.carolina-blue {
  color: #FFCB05 !important;
}

.star-command-blue {
  color: #FFCB05 !important;
}

.air-force-blue {
  color: #FFCB05 !important;
}

.midnight-blue {
  color: #FFCB05 !important;
}

.eerie-black {
  color: #FFCB05 !important;
}

.jungle-green {
  color: #FFCB05 !important;
}

.orange {
  color: #FFCB05 !important;
}

.brown {
  color: #FFCB05 !important;
}

.amaranth-red {
  color: #FFCB05 !important;
}

.violet {
  color: #FFCB05 !important;
}

.red {
  color: #FFCB05 !important;
}

.blue {
  color: #FFCB05 !important;
}

.navy {
  color: #FFCB05 !important;
}

.tan {
  color: #FFCB05 !important;
}

.midnight-green {
  color: #FFCB05 !important;
}

.gold {
  color: #FFCB05 !important;
}

.lime-green {
  color: #FFCB05 !important;
}

.grey {
  color: #FFCB05 !important;
}

.olive {
  color: #FFCB05 !important;
}

.green {
  color: #FFCB05 !important;
}

.yellow {
  color: #FFCB05 !important;
}

.purple {
  color: #FFCB05 !important;
}

.ruby-background {
  background-color: #FFCB05 !important;
}

.burgundy-background {
  background-color: #FFCB05 !important;
}

.teal-background {
  background-color: #FFCB05 !important;
}

.carolina-blue-background {
  background-color: #FFCB05 !important;
}

.star-command-blue-background {
  background-color: #FFCB05 !important;
}

.air-force-blue-background {
  background-color: #FFCB05 !important;
}

.midnight-blue-background {
  background-color: #FFCB05 !important;
}

.eerie-black-background {
  background-color: #FFCB05 !important;
}

.jungle-green-background {
  background-color: #FFCB05 !important;
}

.orange-background {
  background-color: #FFCB05 !important;
}

.brown-background {
  background-color: #FFCB05 !important;
}

.amaranth-red-background {
  background-color: #FFCB05 !important;
}

.violet-background {
  background-color: #FFCB05 !important;
}

.red-background {
  background-color: #FFCB05 !important;
}

.blue-background {
  background-color: #FFCB05 !important;
}

.navy-background {
  background-color: #FFCB05 !important;
}

.tan-background {
  background-color: #FFCB05 !important;
}

.midnight-green-background {
  background-color: #FFCB05 !important;
}

.gold-background {
  background-color: #FFCB05 !important;
}

.lime-green-background {
  background-color: #FFCB05 !important;
}

.grey-background {
  background-color: #FFCB05 !important;
}

.olive-background {
  background-color: #FFCB05 !important;
}

.green-background {
  background-color: #FFCB05 !important;
}

.yellow-background {
  background-color: #FFCB05 !important;
}

.purple-background {
  background-color: #FFCB05 !important;
}

/*# sourceMappingURL=styles-wolverine.scss.map */
