/*<-------DARK COLORS-------->*/
.primary-color {
  color: #FFB612 !important;
}

.secondary-color {
  color: white !important;
}

.tiertary-color {
  color: #244037 !important;
}

.tiertary-light-color {
  color: #1f362f !important;
}

.quaternary-color {
  color: #1f362f !important;
}

.base-color {
  color: #0f1a17 !important;
}

.accent {
  color: white !important;
}

.primary-background {
  background-color: #FFB612 !important;
}

.secondary-background {
  background-color: white !important;
}

.tiertary-background {
  background-color: #244037 !important;
}

.tiertary-light-background {
  background-color: #1f362f !important;
}

.quaternary-background {
  background-color: #1f362f !important;
}

.base-background {
  background-color: #0f1a17 !important;
}

.accent-background {
  background-color: white !important;
}

.primary-border {
  border: solid 2px #a4780f !important;
}

.tiertary-border {
  border: solid 2px #2d5246 !important;
}

.primary-fill {
  fill: #FFB612;
}

.secondary-fill {
  fill: white;
}

.bar {
  background-color: #FFB612 !important;
}

.ui.progress {
  background-color: #244037 !important;
}

body {
  background: #0f1a17 !important;
}

/*-----------TEAM COLORS----------*/
.ruby {
  color: #FFB612 !important;
}

.burgundy {
  color: #FFB612 !important;
}

.teal {
  color: #FFB612 !important;
}

.carolina-blue {
  color: #FFB612 !important;
}

.star-command-blue {
  color: #FFB612 !important;
}

.air-force-blue {
  color: #FFB612 !important;
}

.midnight-blue {
  color: #FFB612 !important;
}

.eerie-black {
  color: #FFB612 !important;
}

.jungle-green {
  color: #FFB612 !important;
}

.orange {
  color: #FFB612 !important;
}

.brown {
  color: #FFB612 !important;
}

.amaranth-red {
  color: #FFB612 !important;
}

.violet {
  color: #FFB612 !important;
}

.red {
  color: #FFB612 !important;
}

.blue {
  color: #FFB612 !important;
}

.navy {
  color: #FFB612 !important;
}

.tan {
  color: #FFB612 !important;
}

.midnight-green {
  color: #FFB612 !important;
}

.gold {
  color: #FFB612 !important;
}

.lime-green {
  color: #FFB612 !important;
}

.grey {
  color: #FFB612 !important;
}

.olive {
  color: #FFB612 !important;
}

.green {
  color: #FFB612 !important;
}

.yellow {
  color: #FFB612 !important;
}

.purple {
  color: #FFB612 !important;
}

.ruby-background {
  background-color: #FFB612 !important;
}

.burgundy-background {
  background-color: #FFB612 !important;
}

.teal-background {
  background-color: #FFB612 !important;
}

.carolina-blue-background {
  background-color: #FFB612 !important;
}

.star-command-blue-background {
  background-color: #FFB612 !important;
}

.air-force-blue-background {
  background-color: #FFB612 !important;
}

.midnight-blue-background {
  background-color: #FFB612 !important;
}

.eerie-black-background {
  background-color: #FFB612 !important;
}

.jungle-green-background {
  background-color: #FFB612 !important;
}

.orange-background {
  background-color: #FFB612 !important;
}

.brown-background {
  background-color: #FFB612 !important;
}

.amaranth-red-background {
  background-color: #FFB612 !important;
}

.violet-background {
  background-color: #FFB612 !important;
}

.red-background {
  background-color: #FFB612 !important;
}

.blue-background {
  background-color: #FFB612 !important;
}

.navy-background {
  background-color: #FFB612 !important;
}

.tan-background {
  background-color: #FFB612 !important;
}

.midnight-green-background {
  background-color: #FFB612 !important;
}

.gold-background {
  background-color: #FFB612 !important;
}

.lime-green-background {
  background-color: #FFB612 !important;
}

.grey-background {
  background-color: #FFB612 !important;
}

.olive-background {
  background-color: #FFB612 !important;
}

.green-background {
  background-color: #FFB612 !important;
}

.yellow-background {
  background-color: #FFB612 !important;
}

.purple-background {
  background-color: #FFB612 !important;
}

/*# sourceMappingURL=styles-green-bay.css.map */
